[submodule "libraries/ClickEncoder"]
        path = libraries/ClickEncoder
        url = git@github.com:0xPIT/encoder.git
        branch = arduino
[submodule "libraries/Menu"]
        path = libraries/Menu
        url = git@github.com:0xPIT/menu.git

[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = https://github.com/zero-signal/Adafruit_GFX.git
[submodule "libraries/TimerOne"]
	path = libraries/TimerOne
	url = https://github.com/PaulStoffregen/TimerOne.git
[submodule "libraries/TimerThree"]
	path = libraries/TimerThree
	url = https://github.com/PaulStoffregen/TimerThree.git
